@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=El+Messiri:wght@600&family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&family=Russo+One&family=Syncopate:wght@700&family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

iframe {
  width: 100%;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arkhip Regular";
  src: url("../fonts/Arkhip.eot");
  src: url("../fonts/Arkhip.eot?#iefix") format("embedded-opentype"), url("../fonts/Arkhip.woff") format("woff"), url("../fonts/Arkhip.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyanmarMN";
  src: url("../fonts/MyanmarMN.eot");
  src: url("../fonts/MyanmarMN.eot?#iefix") format("embedded-opentype"), url("../fonts/MyanmarMN.woff") format("woff"), url("../fonts/MyanmarMN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-size: 50px;
  font-family: "Syncopate", sans-serif;
  line-height: 52.05px;
}

h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
}

h4 {
  font-family: "Anton", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

h5 {
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  line-height: 20px;
  font-family: "Bebas Neue Bold";
}

main {
  padding: 127px 0 0 0;
}

.index-main {
  padding: 0;
}

.index-header {
  padding: 37px 0;
  position: relative;
}
.index-header:before {
  content: "";
  width: 100%;
  height: 241px;
  background: -webkit-gradient(linear, left top, left bottom, from(#312F2F), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, #312F2F 0%, rgba(196, 196, 196, 0) 100%);
  position: absolute;
  top: -126px;
  left: 0;
}

.container {
  max-width: 1388px;
  margin: 0 auto;
  padding: 0 27px;
}

.index-header .header__logo {
  margin: 0 0 0 40.4%;
}

.search {
  cursor: pointer;
}

.header__logo a {
  display: inline-block;
  font-size: 50px;
  font-family: "Syncopate", sans-serif;
  color: #fff;
}

.favorite__mobile-img,
.basket__mobile-img {
  display: none;
}

.burger {
  display: none;
}

.mobile-search {
  display: none;
}

.header__logo img {
  vertical-align: middle;
}

.header__right {
  margin: 0 0 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__bottom-mobile {
  display: none;
}

.index-header .header__inner {
  max-width: 1420px;
  padding: 0 5px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-link {
  display: inline-block;
  position: relative;
  font-family: "Syncopate", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.header__top-link:not(:last-child) {
  margin: 0 20px 0 0;
}
.header__top-link.current:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.main-header .header__right {
  margin: 0;
}

.header__top {
  padding: 17px 0;
  background: url(../img/header-bg.png) no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header__bottom {
  text-align: center;
  padding: 10px 0 10px 0;
  border: 1px solid #000000;
  border-width: 1px 0 1px 0;
  position: fixed;
  width: 100%;
  top: 86px;
  z-index: 103;
  background: #fff;
}

.header__mobile-left {
  display: none;
}

.header__bottom-link {
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
}
.header__bottom-link:not(:last-child) {
  margin: 0 28px 0 0;
}

.header__right-item {
  display: inline-block;
}
.header__right-item:not(:last-child) {
  margin: 0 20px 0 0;
}
.header__right-item img {
  vertical-align: middle;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.51);
  opacity: 0;
  visibility: hidden;
  z-index: 102;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.main-block {
  margin: -111px 0 12px 0;
}

.main-block img {
  width: 100%;
}

.main-menu {
  margin: 0 0 26px 0;
}

.main-menu__mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}
.main-menu__mobile-links a {
  color: #fff;
  font-family: "Bebas Neue Bold";
  font-size: 55px;
}

.main-menu__mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
}

.main-menu__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 26px 2fr;
  grid-template-columns: 2fr 2fr;
  gap: 26px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-menu__item {
  min-height: 840px;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0 35px 35px 35px;
}
.main-menu__item.women {
  background: url(../img/women.jpg) no-repeat;
}
.main-menu__item.men {
  background: url(../img/men.jpg) no-repeat;
}
.main-menu__item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.31);
}

.main-menu__heading {
  position: relative;
  margin: 103px 0 50px 0;
  display: inline-block;
}
.main-menu__heading:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.main-menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  z-index: 2;
}
.main-menu__link:not(:last-child) {
  margin: 0 0 30px 0;
}

.footer {
  text-transform: uppercase;
  padding: 33px 0 84px 0;
  border-top: 2px solid #000000;
}

.footer__inner {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 129px 20px 177px 20px 358px 20px 265px;
  grid-template-columns: 129px 177px 358px 265px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.footer__item-head {
  color: #888686;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 9px 0;
}

.footer__item-head {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 9px 0;
}

.footer-menu__item:not(:last-child) {
  margin: 0 0 5px 0;
}

.footer-menu__link {
  color: inherit;
  letter-spacing: -0.7px;
}

.footer__social-link {
  display: inline-block;
}
.footer__social-link:not(:last-child) {
  margin: 0 9px 0 0;
}

.section-banner {
  margin: 60px 0 99px 0;
  position: relative;
}
.section-banner a {
  display: inline-block;
  margin: 0 auto;
}
.section-banner img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.product-cards {
  margin: 0 0 85px 0;
}

.heading {
  text-align: center;
}

.product-cards__head {
  margin: 0 0 18px 0;
}

.product-card__item {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  text-align: center;
}

.product-card__info {
  margin-top: auto;
}

.product-cards__body {
  padding: 0 30px;
}
.product-cards__body .swiper-button-prev:after,
.product-cards__body .swiper-button-next:after {
  content: none;
}
.product-cards__body .swiper-button-prev {
  background: url(../img/left-arrow.png) no-repeat center;
  left: 0px;
}
.product-cards__body .swiper-button-next {
  background: url(../img/right-arrow.png) no-repeat center;
  right: 0px;
}
.product-cards__body .swiper-pagination {
  display: none;
}

.product-card__img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 15px 0;
  max-height: 407px;
}
.product-card__img img {
  max-width: 100%;
  max-height: 100%;
}

.product-card__brand {
  margin: 0 0 5px 0;
}

.product-card__name {
  margin: 0 0 7px 0;
}

.product-card__name,
.product-card__price {
  font-weight: 400;
  font-size: 13px;
}

.actual {
  margin: 0 0 50px 0;
}

.actual__head {
  margin: 0 0 50px 0;
}

.actual__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.actual__item {
  color: #000000;
  text-align: center;
  display: inline-block;
}

.actual__item-img {
  height: 335px;
  margin: 0 0 9px 0;
}
.actual__item-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.actual__item-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  margin-top: auto;
}

.banner-text {
  position: absolute;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-transform: uppercase;
}

.banner-overlay {
  position: relative;
}
.banner-overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.53);
}

.popular {
  margin: 0 0 72px 0;
}

.popular__head {
  margin: 0 0 58px 0;
}

.popular__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.333fr 32px 1.333fr 32px 1.333fr;
  grid-template-columns: repeat(3, 1.333fr);
  gap: 32px;
}

.popular__item {
  text-align: center;
  color: #000000;
  display: inline-block;
}

.popular__item-img {
  margin: 0 0 9px 0;
  height: 382px;
  display: inline-block;
  width: 100%;
}
.popular__item-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.popular-name {
  text-transform: uppercase;
}

.breadcrumbs {
  text-align: center;
  margin: 32px 0;
}

.breadcrumb__link {
  display: inline-block;
  padding: 0 7px 0 0;
  margin: 0 7px 0 0;
  position: relative;
  color: #7C7979;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}
.breadcrumb__link.current {
  color: #2D2D2D;
}
.breadcrumb__link.current:after {
  content: none;
}
.breadcrumb__link:after {
  content: "/";
  position: absolute;
  right: -4px;
}

.big-card__box {
  margin: 52px 0 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical__slider,
.big-slider {
  height: 558px;
}

.vertical__slider {
  width: 143px;
  margin: 0 11px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.vertical__slider .swiper-pagination {
  display: none;
}

.big-card__slider {
  max-width: 579px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
}

.big-slider__item img {
  width: 100%;
  height: 100%;
}

.big-slider {
  width: 425px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.big-slider .swiper-pagination {
  display: none;
}

.vertical__slider-item {
  cursor: pointer;
}
.vertical__slider-item img {
  width: 100%;
  height: 100%;
}

.big-card__brand {
  margin: 0 0 6px 0;
}
.big-card__brand h5 {
  font-family: "Bebas Neue Bold";
  font-size: 32px;
}

.big-card__info {
  max-width: 468px;
  width: 100%;
}

.big-card__name {
  font-weight: 400;
  font-size: 20px;
  color: #423F3F;
  margin: 0 0 26px 0;
  line-height: 24px;
}

.big-card__price {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 45px 0;
}

.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select:after {
  content: "";
  width: 31px;
  height: 27px;
  background: url(../img/select-chevron.png) no-repeat;
  position: absolute;
  right: 16px;
  top: 9px;
}
.custom-select.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 21px;
  top: 15px;
}

.card-select {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 15px;
  margin: 0 0 7px 0;
}
.card-select.active {
  border-width: 1px 1px 0 1px;
  border-radius: 3px 3px 0 0;
}

.select-menu {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  border: 1px solid #000000;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 3px 3px;
  padding: 10px;
  z-index: 2;
  background: #fff;
}

.select-menu__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.card__select-menu {
  width: calc(100% + 2px);
  left: -1px;
}

.card-select__value {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.custom-select.active .select-menu {
  display: block;
}

.select-menu__item.hidden {
  display: none;
}

.button {
  font-weight: 400;
  padding: 11px;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  position: relative;
}

.button-bg {
  background: #000000;
  color: #ffffff;
  border: none;
}

.big-card__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 11px 2fr;
  grid-template-columns: repeat(2, 2fr);
  gap: 11px;
  margin: 0 0 100px 0;
}

.button-favorite:after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/favorite.png) no-repeat;
  background-size: 24px 24px;
  position: absolute;
  right: 19px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.big-card__articuls {
  font-size: 15px;
  text-transform: uppercase;
}

.articul-value {
  font-weight: 600;
}

.big-card__tabs,
.tabs__caption {
  border-bottom: 1px solid #635E5E;
}

.tabs__caption-inner {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.tabs__caption span {
  color: #5F5F5F;
  text-transform: uppercase;
}
.tabs__caption span:not(:last-child) {
  margin: 0 117px 0 0;
}

.tabs__caption span:not(.active) {
  cursor: pointer;
}

.tabs__caption .active {
  color: #000;
  background: #fff;
  position: relative;
  z-index: 1;
}

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  margin: 31px auto 0 auto;
  font-size: 14px;
  font-weight: 400;
}

.tabs__inner,
.tabs__caption-inner,
.tabs__content {
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 27px;
}

.tabs__content {
  display: none;
}

.tabs__img-box {
  padding: 20px 23px;
  border: 1px solid #000000;
  margin: 0 auto;
}
.tabs__img-box img {
  max-width: 100%;
  max-height: 100%;
}

.tabs {
  margin: 0 0 33px 0;
}

.big-card__tabs {
  margin: 0 0 24px 0;
}

.big-card__textblock {
  max-width: 447px;
  line-height: 17px;
}

.chars__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.chars__item-head {
  color: #565454;
  margin: 0 0 15px 0;
}

.chars__item-body,
.chars__item-inline {
  font-family: "Inter", sans-serif;
  color: #000000;
}

.product-cards__head--bc,
.product-cards__head--watch {
  margin: 0 0 68px 0;
}

.product-cards__head--watch h5 {
  font-family: "Inter", sans-serif;
}

.about__inner {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 27px;
}

.about__head {
  margin: 52px 0 43px 0;
}
.about__head h5 {
  font-size: 30px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 337px;
  background: url(../img/about-bg.jpg) no-repeat;
  background-size: 100% 100%;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  margin: 0 0 78px 0;
}
.about__body span {
  z-index: 1;
}
.about__body:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 13, 13, 0.49);
}

.about__text {
  font-size: 25px;
  line-height: 30.5px;
}

.about__descr:not(:last-child) {
  margin: 0 0 35px 0;
}

.about-bold {
  font-weight: 600;
}

.basket-head {
  margin: 48px 0 20px 0;
}
.basket-head h5 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.basket-body {
  overflow: hidden;
  padding: 40px 0 0 0;
  margin: 0 0 126px 0;
}

.basket-body__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket-items__box {
  max-width: 630px;
  width: 100%;
  padding: 0 30px 0 0;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 17px 0;
}
.basket__item:not(:last-child) {
  margin: 0 0 25px 0;
}
.basket__item:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #635E5E;
  position: absolute;
  left: 0px;
  top: 0;
}

.basket__img {
  height: 137px;
  width: 103px;
  margin: 0 50px 0 0;
}
.basket__img img {
  width: 100%;
  height: 100%;
}

.basket__item-left,
.basket__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__item-info {
  font-size: 10px;
}

.id-value {
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.basket-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  margin: 0 0 4px 0;
}

.basket-price {
  margin: 0 90px 0 0;
}

.basket-price__head {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.basket-price__bottom {
  font-size: 8px;
  color: #636060;
}

.basket-params__item {
  margin: 0 0 17px 0;
}

.basket-params__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.basket-params__value {
  font-size: 13px;
  font-weight: 600;
}

.basket-change__button {
  font-size: 8px;
  font-weight: 400;
  color: #706D6D;
  background: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: underline;
  position: relative;
  bottom: 2px;
}

.basket-buttons__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin: 0 0 0 -74px;
}

.basket-setting__button {
  background: none;
  font-size: 15px;
  line-height: 18px;
  color: #3E3C3C;
  border-bottom: 1px dashed #3E3C3C;
}

.basket__sidebar {
  width: 381px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: -40px 0 0 0;
  padding: 25px;
  position: relative;
  z-index: 2;
  background: #fff;
}

.basket-aside__head {
  margin: 0 0 47px 0;
  font-size: 20px;
}

.basket-calculation__item {
  margin: 0 0 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basket-calculation__item:last-child {
  margin: 0 0 36px 0;
  padding: 17px 0 0 0;
  border-top: 1px solid #757272;
}

.calculation-text {
  font-weight: 400;
}

.basket__sidebar-buttons .button {
  width: 100%;
  height: 51px;
}
.basket__sidebar-buttons .button:not(:last-child) {
  margin: 0 0 17px 0;
}

.product-cards__head--basket {
  margin: 0 0 69px 0;
}
.product-cards__head--basket h5 {
  color: #6A6969;
}

.reg__steps {
  margin: 50px 0 68px 0;
}

.reg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg-form__head {
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.reg-form__heading {
  font-size: 24px;
  margin: 0 0 22px 0;
}

.reg-form__descr {
  font-size: 14px;
  font-weight: 400;
}

.reg-form {
  max-width: 567px;
}

.reg-form__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 31px 2fr;
  grid-template-columns: repeat(2, 2fr);
  gap: 31px;
}

.reg-form__item {
  font-weight: 400;
}

.form-input {
  padding: 10px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size: 46px;
    line-height: 52px;
  }

  h3 {
    font-size: 40px;
    line-height: 46px;
  }

  h4 {
    font-size: 36px;
    line-height: 42px;
  }

  h5 {
    font-size: 30px;
    line-height: 36px;
  }

  h6 {
    font-size: 24px;
    line-height: 30px;
  }

  .header__right-item:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .footer__inner {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr);
  }

  .footer__item:nth-child(2n+2) {
    text-align: right;
  }

  .index-header .header__logo {
    margin: 0;
  }

  .footer__social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .actual__item-img {
    height: 282px;
    width: 100%;
  }

  .actual__body {
    -ms-grid-columns: 2fr 30px 2fr;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }

  .actual__item-name {
    font-size: 20px;
  }

  .popular__item-img {
    height: 320px;
  }

  .big-card__buttons {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .vertical__slider {
    display: none;
  }

  .big-slider {
    padding: 0 0 40px 0;
  }
  .big-slider .swiper-pagination {
    display: block;
  }
  .big-slider .swiper-pagination-bullet {
    width: 33px;
    height: 3px;
    background: #000000;
    border-radius: 2px;
  }

  .tabs__caption span:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .basket__item-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .basket__img {
    margin: 0 0 15px 0;
  }

  .basket__sidebar {
    width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 17px;
  }

  .about__inner {
    padding: 0 17px;
  }

  main {
    padding: 88px 0 0 0;
  }

  .index-header {
    display: none;
  }

  .main-menu__heading {
    display: none;
  }

  .main-menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 59px 0 64px 0;
  }
  .main-menu__mobile img {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .main-block {
    display: none;
  }

  .main-footer {
    display: none;
  }

  .main-menu__navigation {
    display: none;
  }

  .main-menu {
    margin: 0;
  }

  .main-menu__inner {
    padding: 0;
    gap: 0;
    position: relative;
  }

  .main-menu__item {
    min-width: 100%;
    min-height: 100vh;
  }

  .main-menu__item.men,
.main-menu__item.women {
    position: absolute;
    left: 0;
    top: 0;
  }

  .main-menu__item.men {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-animation: show 8s infinite ease-in-out;
            animation: show 8s infinite ease-in-out;
    background-size: 100% 100%;
  }

  @-webkit-keyframes show {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    25% {
      opacity: 0;
      visibility: hidden;
    }
    50% {
      opacity: 1;
      visibility: visible;
    }
    75% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    25% {
      opacity: 0;
      visibility: hidden;
    }
    50% {
      opacity: 1;
      visibility: visible;
    }
    75% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .main-menu__item.women {
    background-size: 100% 100%;
  }

  .favorite__mobile-img,
.basket__mobile-img {
    display: inline-block;
  }

  .burger {
    display: block;
  }

  .mobile-search {
    display: block;
  }

  .favorite__desctope-img,
.basket__desctope-img,
.search,
.user {
    display: none;
  }

  .header__top-nav {
    display: none;
  }

  .header__top {
    background: #fff;
  }

  .header__logo a {
    color: #000000;
  }

  .header__mobile-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }

  .mobile-search {
    display: inline-block;
  }
  .mobile-search img {
    vertical-align: middle;
  }

  .burger span {
    display: block;
    width: 20px;
    height: 1px;
    background: #000000;
  }
  .burger span:not(:last-child) {
    margin: 0 0 4px 0;
  }

  .header__bottom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -248px;
    background: #fff;
    padding: 100px 0 20px 15px;
    width: 248px;
    z-index: 103;
    -webkit-transition: left 0.5s linear;
    transition: left 0.5s linear;
  }
  .header__bottom-nav.active {
    left: 0;
    -webkit-transition: left 0.5s linear;
    transition: left 0.5s linear;
  }

  .header__bottom-link {
    font-size: 14px;
  }

  .header__bottom-link:not(:last-child) {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
  }

  .header__bottom-link {
    border-bottom: 1px solid #ADACAC;
    text-align: left;
  }
  .header__bottom-link:last-child {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
  }

  .header__bottom {
    border: none;
    padding: 0;
  }

  .header__bottom-mobile {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 65px;
    text-align: center;
    background: #fff;
  }

  .header__bottom .container {
    padding: 0;
  }

  .header__bottom-mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr);
  }
  .header__bottom-mobile a {
    position: relative;
    padding: 0 0 8px 0;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .header__bottom-mobile a.current:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .header__logo a {
    font-size: 30px;
    position: relative;
    top: 2px;
  }

  .footer {
    border: none;
  }

  .footer-menu {
    display: none;
  }

  .footer__social {
    display: none;
  }

  .footer__inner {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
    gap: 0;
    padding: 0;
  }

  .footer__item:nth-child(2n+2) {
    text-align: left;
  }

  .footer__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 12px 0 0 27px;
  }

  .footer__item-head {
    padding: 12px 27px;
    margin: 0;
    border-top: 1px solid #ADACAC;
    color: #000000;
    font-size: 15px;
  }

  .footer__item:last-child .footer__item-head {
    border-bottom: 1px solid #ADACAC;
  }

  .footer__item:last-child .footer-menu {
    padding: 0 0 12px 0;
    border-bottom: 1px solid #ADACAC;
  }

  .footer-menu__item {
    padding: 0 27px;
  }
  .footer-menu__item:last-child {
    margin: 0 0 5px 0;
  }

  .section-banner {
    margin: 0px 0 50px 0;
  }
  .section-banner .container {
    padding: 0;
  }

  .product-cards {
    margin: 0 0 50px 0;
  }

  .actual__head {
    margin: 0 0 25px 0;
  }

  .popular__head {
    margin: 0 0 25px 0;
  }

  .footer {
    padding: 33px 0;
  }

  .product-cards__body {
    padding: 0 0 42px 0;
  }
  .product-cards__body .swiper-button-next,
.product-cards__body .swiper-button-prev {
    display: none;
  }
  .product-cards__body .swiper-pagination {
    display: block;
    bottom: -3px;
  }
  .product-cards__body .swiper-pagination-bullet-active {
    background: #000000;
  }

  .product-card__img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .big-card__textblock {
    max-width: 100%;
  }

  .big-card__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .big-card__slider {
    max-width: 100%;
    margin: 0;
  }

  .big-slider {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .big-card__info {
    max-width: 100%;
    text-align: center;
  }

  .big-card__articuls {
    text-align: left;
    margin: 0 0 40px 0;
  }

  .big-card__buttons {
    margin: 0 0 30px 0;
  }

  .tabs__caption-inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .tabs__caption {
    white-space: nowrap;
    overflow: auto;
    padding: 0 0 10px 0;
    margin: 0 17px 0 0;
    border: none;
  }

  .tabs__inner,
.tabs__caption-inner,
.tabs__content {
    padding: 0 17px;
  }

  .tabs__img-box {
    padding: 7px;
  }

  .product-cards__head--bc,
.product-cards__head--watch,
.product-cards__head--basket {
    margin: 0 0 25px 0;
  }

  .about__body {
    min-height: 250px;
    margin: 0 0 30px 0;
  }

  .about__text {
    font-size: 16px;
    line-height: 22px;
  }

  .basket-body__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .basket-aside__head {
    display: none;
  }

  .basket__sidebar {
    width: 100%;
    padding: 0;
    margin: 30px 0 0 0;
  }

  .basket-items__box {
    max-width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
  }

  .basket-body {
    margin: 0 0 30px 0;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 36px;
    line-height: 42px;
  }

  h3 {
    font-size: 28px;
    line-height: 34px;
  }

  h4 {
    font-size: 26px;
    line-height: 32px;
  }

  h5 {
    font-size: 22px;
    line-height: 28px;
  }

  h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .popular__body {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .popular__item-img {
    height: 280px;
  }

  .big-slider {
    height: 400px;
  }

  .about__body {
    font-size: 28px;
    min-height: 200px;
  }
}
@media screen and (max-width: 419px) {
  .main-menu__item.women {
    background: url(../img/women-mobile.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .main-menu__item.men {
    background: url(../img/men-mobile.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .actual__item-img {
    height: 240px;
  }

  .actual__body {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .popular__item-img {
    height: 240px;
  }

  .basket__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .basket__item-left {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .basket__item-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .basket__item-info {
    margin: 0 0 15px 0;
  }

  .basket-price {
    width: 103px;
    margin: 0;
    text-align: center;
  }

  .basket-buttons__box {
    display: block;
  }

  .basket-setting__button {
    display: block;
  }
  .basket-setting__button:not(:last-child) {
    margin: 0 0 10px 0;
  }

  .basket__img {
    margin: 0 25px 15px 0;
  }

  .basket-buttons__box {
    margin: 0;
  }
}